.calendar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar-title {
    font-weight: 400;
}

.event-add {
    border: none;
    background-color: transparent;
    font-size: 45px;
    font-weight: 200;
    color: red;
    cursor: pointer;
}